.container {
  /* レイアウトの最大幅を指定 */
  max-width: 1280px;
  /* コンテンツ全体の中央寄せ */
  margin: 0 auto;
}

/* 中央寄せ */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 中央寄せ */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ヒーロー画像 */
.hero {
  width: 100%;
}

.backToHome {
  margin: 3rem 0 0;
}

/* カード型のグリッドレイアウト */
.cssgrid {
  /* グリッド表示の親要素 */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.8em;
  /* 装飾 */
  border: 1px solid #ddd;
  padding: 0.8em;
  margin: 0 0 2em;
}
/* カード表示内の装飾 */
.cssgrid > div {
  background: #ddd;
  padding: 1em;
}

/* PC用向けのデザイン */
@media screen and (min-width: 844px){
   .h1 {
     font-size: 3rem;
   }
 }